In [99]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame()

In [100]:
samples = 1000

In [101]:
import numpy as np

def x_random_numbers():
    x1 = np.random.randint(0, 100)
    x2 = np.random.randint(0, 100)
    while x1 == x2:
        x2 = np.random.randint(0, 100)
    return min(x1, x2), max(x1, x2) 

X = []    
# Generate random numbers and add them to the DataFrame
for i in range(1000):
  x1, x2 = x_random_numbers()
  X.append([x1, x2])

df['x'] = X

# Display the first few rows of the DataFrame
df.head()

          x
0  [36, 75]
1   [9, 50]
2  [31, 70]
3   [0, 48]
4  [24, 26]

In [102]:
import random


def generate_numbers(df):
    # Generate 99 numbers between 1 and 99
    positive_number = [random.randint(1, 99) for _ in range(samples)]

    # Generate negative numbers for each generated number
    negative_numbers = [-x for x in positive_number]

    # Create pairs of original number and its negative in a list
    number_pairs = [[neg, pos]
                    for neg, pos in zip(negative_numbers, positive_number)]

    # Add the list of pairs as a new column to the DataFrame
    df['y'] = number_pairs


generate_numbers(df)

In [104]:
# random state column with random values from 0 to 99
def random_state(df):
    df['random_state'] = [random.randint(0, 99) for _ in range(samples)]


random_state(df)
df.head()

          x          y  random_state
0  [36, 75]  [-88, 88]            36
1   [9, 50]    [-9, 9]            52
2  [31, 70]  [-24, 24]            80
3   [0, 48]    [-3, 3]            20
4  [24, 26]  [-97, 97]            78

In [105]:
df.to_csv('data.csv', index=False)

In [106]:
import random

odd_numbers = [random.choice(range(3, 14, 2)) for _ in range(samples)]

df['sections'] = odd_numbers

df.head()

          x          y  random_state  sections
0  [36, 75]  [-88, 88]            36         7
1   [9, 50]    [-9, 9]            52        11
2  [31, 70]  [-24, 24]            80         5
3   [0, 48]    [-3, 3]            20         3
4  [24, 26]  [-97, 97]            78        13

In [103]:
# Load random matrix csv
random_mat = pd.read_csv('random_matrix.csv')
random_mat.head()

    0   1   2   3   4   5   6   7   8   9  10  11  12  13
0  88  24  92  29  42  98  76  41  93   9  41  94  60  24
1  41  93  24  42   9  92  41  24  94  98  76  88  29  60
2  29  92  60  94  76  41  41   9  93  24  42  24  98  88
3  93  92  41  42  98  24  60  94  29  24  41  76  88   9
4  92  41  29  76  24  98  42  94  24  88  41  60  93   9

In [107]:
def add_random_mat(df, random_mat):
    def get_random_mat_row(row):
        index = row['random_state'] % 100
        return random_mat.iloc[index].values

    df['random_mat_row'] = df.apply(get_random_mat_row, axis=1)
    return df

In [108]:
add_random_mat(df, random_mat)
df.head()
df.to_csv('data.csv', index=False)