In [44]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame()

In [45]:
samples = 1000

In [46]:
import numpy as np


def x_random_numbers():
    x1 = np.random.randint(0, 100)
    x2 = np.random.randint(0, 100)
    while x1 == x2:
        x2 = np.random.randint(0, 100)
    return min(x1, x2), max(x1, x2)


X = []
# Generate random numbers and add them to the DataFrame
for i in range(1000):
    x1, x2 = x_random_numbers()
    X.append([x1, x2])

df['x'] = X

# Display the first few rows of the DataFrame
df.head()

          x
0  [66, 98]
1  [19, 88]
2  [18, 86]
3   [4, 72]
4  [22, 38]

In [47]:
import random


def generate_numbers(df):
    # Generate 99 numbers between 1 and 99
    positive_number = [random.randint(1, 99) for _ in range(samples)]

    # Generate negative numbers for each generated number
    negative_numbers = [-x for x in positive_number]

    # Create pairs of original number and its negative in a list
    number_pairs = [[neg, pos]
                    for neg, pos in zip(negative_numbers, positive_number)]

    # Add the list of pairs as a new column to the DataFrame
    df['y'] = number_pairs


generate_numbers(df)

In [48]:
# random state column with random values from 0 to 99
def random_state(df):
    df['random_state'] = [random.randint(0, 99) for _ in range(samples)]


random_state(df)
df.head()

          x          y  random_state
0  [66, 98]    [-6, 6]            12
1  [19, 88]    [-6, 6]            58
2  [18, 86]    [-6, 6]            81
3   [4, 72]  [-62, 62]             8
4  [22, 38]  [-96, 96]            16

In [49]:
df.to_csv('data.csv', index=False)

In [50]:
import random

odd_numbers = [random.choice(range(3, 14, 2)) for _ in range(samples)]

df['sections'] = odd_numbers

df.head()

          x          y  random_state  sections
0  [66, 98]    [-6, 6]            12         3
1  [19, 88]    [-6, 6]            58         3
2  [18, 86]    [-6, 6]            81         3
3   [4, 72]  [-62, 62]             8         3
4  [22, 38]  [-96, 96]            16         5

In [51]:
# Load random matrix csv
random_mat = pd.read_csv('random_matrix.csv')
random_mat.head()

    0   1   2   3   4   5   6   7   8   9  10  11  12  13
0  88  24  92  29  42  98  76  41  93   9  41  94  60  24
1  41  93  24  42   9  92  41  24  94  98  76  88  29  60
2  29  92  60  94  76  41  41   9  93  24  42  24  98  88
3  93  92  41  42  98  24  60  94  29  24  41  76  88   9
4  92  41  29  76  24  98  42  94  24  88  41  60  93   9

In [52]:
def add_random_mat(df, random_mat):
    def get_random_mat_row(row):
        index = row['random_state'] % 100
        return random_mat.iloc[index].values

    df['random_mat_row'] = df.apply(get_random_mat_row, axis=1)
    return df

In [53]:
add_random_mat(df, random_mat)
df.head()

,x,y,random_state,sections,random_mat_row
0,"[66, 98]","[-6, 6]",12,3,"[93, 76, 24, 60, 9, 94, 92, 88, 41, 42, 41, 24..."
1,"[19, 88]","[-6, 6]",58,3,"[88, 29, 24, 9, 42, 24, 41, 92, 98, 60, 76, 93..."
2,"[18, 86]","[-6, 6]",81,3,"[24, 92, 94, 93, 9, 29, 42, 60, 76, 24, 98, 88..."
3,"[4, 72]","[-62, 62]",8,3,"[9, 93, 42, 29, 24, 24, 94, 98, 88, 60, 76, 41..."
4,"[22, 38]","[-96, 96]",16,5,"[93, 88, 41, 42, 29, 24, 94, 9, 24, 92, 41, 60..."

In [54]:
# Function to generate evenly spaced numbers
def generate_points_y(row):
    return list(np.linspace(row['y'][0], row['y'][1], row['sections']+1))


def generate_points_x(row):
    return list(np.linspace(row['x'][0], row['x'][1], row['sections']+1))


# Apply the function to each row
df['x_points'] = df.apply(generate_points_x, axis=1)
df['y_points'] = df.apply(generate_points_y, axis=1)

In [55]:
df.head()

,x,y,random_state,sections,random_mat_row,x_points,y_points
0,"[66, 98]","[-6, 6]",12,3,"[93, 76, 24, 60, 9, 94, 92, 88, 41, 42, 41, 24...","[66.0, 76.66666666666667, 87.33333333333333, 9...","[-6.0, -2.0, 2.0, 6.0]"
1,"[19, 88]","[-6, 6]",58,3,"[88, 29, 24, 9, 42, 24, 41, 92, 98, 60, 76, 93...","[19.0, 42.0, 65.0, 88.0]","[-6.0, -2.0, 2.0, 6.0]"
2,"[18, 86]","[-6, 6]",81,3,"[24, 92, 94, 93, 9, 29, 42, 60, 76, 24, 98, 88...","[18.0, 40.66666666666667, 63.333333333333336, ...","[-6.0, -2.0, 2.0, 6.0]"
3,"[4, 72]","[-62, 62]",8,3,"[9, 93, 42, 29, 24, 24, 94, 98, 88, 60, 76, 41...","[4.0, 26.666666666666668, 49.333333333333336, ...","[-62.0, -20.666666666666664, 20.66666666666667..."
4,"[22, 38]","[-96, 96]",16,5,"[93, 88, 41, 42, 29, 24, 94, 9, 24, 92, 41, 60...","[22.0, 25.2, 28.4, 31.6, 34.8, 38.0]","[-96.0, -57.6, -19.200000000000003, 19.1999999..."

In [56]:
df.to_csv('data.csv', index=False)